button {
  border: none;
  outline: none;
  padding-inline: 1.75rem;
  padding-block: 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &.primary-button {
    background-color: #da1c5b;
    color: white;
  }

  &:active {
    transform: scale(0.9);
  }
}
